<% provide(:title, 'Контакты') %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="color-green pull-left">Галлерея</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Главная",    root_path %> <span class="divider">/</span></li>
      <li class="active">Галлерея</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid">
    <div id="w">
      <div class="sort" id="sort">
        <ul class="unstyled inline">
          <li><a href="#" class="all selected">Все</a></li>
          <li><a href="#" class="web">Декупаж</a></li>
          <li><a href="#" class="ios">Паспарту</a></li>
          <li><a href="#" class="print">Разное</a></li>
        </ul>
      </div>

      <ul class="portfolio recent-work clearfix">
        <li data-id="id-1" class="ios">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/2.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-2" class="print">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/3.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-3" class="ios">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/4.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-4" class="print">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/5.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-5" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/6.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-6" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/7.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-7" class="print">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/8.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-8" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/2.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-9" class="ios">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/9.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-10" class="ios">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/10.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-11" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/5.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-12" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/3.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-13" class="ios">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/6.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-14" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/9.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
        <li data-id="id-15" class="web">
          <a href="portfolio_item.html">
            <em class="overflow-hidden"><img src="assets/portfolioSorting/img/7.jpg" alt="" /></em>
                        <span>
                            <strong>Happy New Year</strong>
                            <i>Anim pariatur cliche reprehenderit</i>
                        </span>
          </a>
        </li>
      </ul>
    </div>
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->